body {
    background-color: aqua;
}
.container {
    display: flex;

    gap: 50px;
}
.stick {
    width: 2%;
    height: 75px;
    background-color: darkblue;
}
.stick:hover {
    background-color: red;
}