body {
  background-color: aqua;

    div.container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px
    ;
     .stick {
       width:  5%;
       height: 200px;
       background-color: darkblue;
     }
    }
}